PORT=4000
DEVILS_TABLES_PORT=4100
# Set only when a reverse proxy serves The Devil's Tables somewhere other than
# this host on DEVILS_TABLES_PORT.
# DEVILS_TABLES_URL=https://tables.example
DEVILS_TOYS_DATA_DIR=.data
DEVILS_TOYS_LOG_LEVEL=info
DEVILS_TOYS_UPLOAD_LIMIT_MB=1024
DEVILS_TOYS_SCENE_IMAGE_LIMIT_MB=60
DEVILS_TOYS_REFERENCE_IMAGE_LIMIT_MB=20
DEVILS_TOYS_AUDIO_LIMIT_MB=50
DEVILS_TOYS_SYSTEM_LIMIT_MB=25
